<div class="main-signIn">
    <div class="main-container-signIn">
        <img src="../../assets/imgs/doctors2-min.jpg" alt="" id="img-signIn">
        <h1 id="title-signIn">Iniciar sesión</h1>
        <p>Inicia sesión para revisar la historia clínica de tus pacientes</p>
        <form [formGroup]="formUser" id="form-signIn"  >
            <span class="p-input-icon-left elements-form">
                <i class="pi pi-user"></i>
                <input type="text" pInputText  placeholder="Usuario" formControlName="id">         
            </span>
            <span class="p-input-icon-left elements-form">
                <i class="pi pi-unlock"></i>
                <input type="password" pInputText  placeholder="Contraseña" formControlName="password">         
            </span>
            <p-button class="elements-form" [disabled]="formUser.invalid" (click)="verificarUsuario()" type="submit" label="Ingresar" ></p-button>
        </form>
        <div id="signUpOption-signIn">
            <p id="text-signUpOption-signIn">¿No tienes una cuenta?</p>
            <a routerLink="/signUp" id="button-signUpOption-signIn">Registrate ahora</a>
        </div>
    </div>
    
</div>