<p>sign-in works!</p>
<div class="main-signIn">
    <div class="main-container-signIn">
        <img src="http://placekitten.com/150/150" alt="" id="img-signIn">
        <h1 id="title-signIn">Ingreso de personal</h1>
        <form [formGroup]="formUser" id="form-signIn">
            <input type="text" formControlName="id">
            <input type="text" formControlName="password">
        </form>
        <div id="signUpOption-signIn">
            <p id="text-signUpOption-signIn">¿No tienes una cuenta?</p>
            <a href="" id="button-signUpOption-signIn">Registrate ahora</a>
        </div>
    </div>
</div>