<div class="main-inicio">
    <div class="main-container-inicio">
        <img src="http://placekitten.com/130/130" >
        <h1>Registro</h1>
        <form action="">
            <span class="p-input-icon-left elements-form">
                <i class="pi pi-search"></i>
                <input type="text" pInputText  placeholder="Número de cédula" formControlName="cedula">         
            </span>
            <span class="p-input-icon-left elements-form">
                <i class="pi pi-search"></i>
                <input type="text" pInputText  placeholder="Nombre" formControlName="nombre">         
            </span>
            <span class="p-input-icon-left elements-form">
                <i class="pi pi-search"></i>
                <input type="text" pInputText  placeholder="Apellido" formControlName="apellido">         
            </span>
            <span class="p-input-icon-left elements-form">
                <i class="pi pi-search"></i>
                <input type="text" pInputText  placeholder="E-mail" formControlName="email">         
            </span>
            <span class="p-input-icon-left elements-form">
                <i class="pi pi-search"></i>
                <input type="text" pInputText  placeholder="Teléfono" formControlName="telefono">         
            </span>
            <span class="p-input-icon-left elements-form">
                <i class="pi pi-search"></i>
                <input type="text" pInputText  placeholder="Dirección" formControlName="direccion">         
            </span>
            <div class="p-field p-col-12 p-md-4">
                <label for="dateformat">DateFormat</label>
                <p-calendar dateFormat="mm-dd-yy" inputId="dateformat"></p-calendar>
            </div>
            <span class="p-input-icon-left elements-form">
                <i class="pi pi-search"></i>
                <input type="text" pInputText  placeholder="Nombre" formControlName="nombre">         
            </span>
            <span class="p-input-icon-left elements-form">
                <i class="pi pi-search"></i>
                <input type="text" pInputText  placeholder="Nombre" formControlName="nombre">         
            </span>
        </form>
    </div>
</div>