/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
}

html{
    font-size: 62,5%;
    background-image: url('https://static.vecteezy.com/ti/vecteur-libre/p1/1234255-bleu-blanc-low-poly-triangle-formes-fond-gratuit-vectoriel.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1, p, a, label{
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #0049d1;
}