<div class="main-inicio">
    <div class="main-container-inicio">
        <div class="block-container-inicio" id="block-container-inicio-1">
            <div id="image-header-container-inicio">
                <img src="http://placekitten.com/100/100" alt="">
            </div>
            <div id="text-header-container-inicio">
                <h1>Inicio</h1>
                <p>Bienvenido DR!</p>
            </div>
        </div>
        <p-divider class="divider-container-inicio"></p-divider>
        <div class="block-container-inicio" id="block-container-inicio-2">
            <div class="p-inputgroup">
                <button type="button" pButton pRipple label="Search"></button>
                <input type="text" pInputText placeholder="Keyword">         
            </div>
        </div>
        <p-divider class="divider-container-inicio"></p-divider>
        <div class="block-container-inicio" id="block-container-inicio-3">
            <p-scrollPanel id="scrollPanel-block-container-inicio">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi ducimus architecto quasi tempora recusandae impedit sapiente, numquam earum id est repellendus, non necessitatibus explicabo laboriosam obcaecati error suscipit aliquid fugiat?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit incidunt praesentium, amet, cum aperiam quis modi rem velit doloribus deleniti, quidem corporis necessitatibus numquam doloremque. Amet molestias ipsam quibusdam dignissimos.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente praesentium recusandae facilis explicabo quo esse exercitationem deleniti? Beatae similique, ratione corrupti quasi temporibus quas molestias aspernatur cupiditate, earum nemo adipisci!
            </p-scrollPanel>
        </div>
    </div>
</div>
