<div class="main-inicio">
    <div class="main-container-inicio">
        <div class="block-main-container-inicio" id="block-main-container-inicio-1">
            <div id="container-image-header-container-inicio">
                <img id="image-header-container-inicio" src="../../assets/imgs/doctors3.jpg" alt="">
            </div>
            <div id="text-header-container-inicio">
                <div id="user-text-header-container-inicio">
                    <div class="element-text-header-container-inicio" id="userOptions-text-header-container-inicio">
                        <h1>Inicio</h1>
                        <p-button class="elements-form"   type="submit" label="Actualizar datos" ></p-button>
                        <!-- <p-button class="elements-form" [disabled]="formUser.invalid" (click)="verificarUsuario()" type="submit" label="Ingresar" ></p-button> -->
                    </div>
                    <p class="element-text-header-container-inicio" >Bienvenido Dr {{user.nombre}} {{user.apellido}}</p> 
                </div>
                <div id="patient-text-header-container-inicio">
                    <p class="element-text-header-container-inicio"> Busca la historia clinica de tu paciente </p>
                    <div class="p-inputgroup element-text-header-container-inicio">
                        <button type="button" pButton pRipple label="Buscar"></button>
                        <input type="text" pInputText placeholder="Número de documento">         
                    </div>
                </div>
            </div>
        </div>
        <p-divider class="divider-container-inicio"></p-divider>
        <div class="block-main-container-inicio" id="block-main-container-inicio-2">
            <p-scrollPanel id="scrollPanel-block-container-inicio" [style]="{width: '100%', height: '82%'}">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi ducimus architecto quasi tempora recusandae impedit sapiente, numquam earum id est repellendus, non necessitatibus explicabo laboriosam obcaecati error suscipit aliquid fugiat?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit incidunt praesentium, amet, cum aperiam quis modi rem velit doloribus deleniti, quidem corporis necessitatibus numquam doloremque. Amet molestias ipsam quibusdam dignissimos.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente praesentium recusandae facilis explicabo quo esse exercitationem deleniti? Beatae similique, ratione corrupti quasi temporibus quas molestias aspernatur cupiditate, earum nemo adipisci!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, eius quisquam odit eos eveniet, consequatur veniam sapiente officia, laboriosam amet provident. Quas impedit nihil omnis ducimus corrupti sint itaque deleniti?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo incidunt quas expedita odio voluptatem tenetur illum pariatur asperiores, neque consequatur cumque vitae, suscipit, impedit eligendi. Ad nobis minus iure modi?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident ipsum facilis aliquam. Dolores sapiente at beatae velit, culpa facere delectus vitae, cupiditate, assumenda quas autem iure voluptate accusamus? Quis, fuga!
            </p-scrollPanel>
        </div>
    </div>
</div>
